/* Font style declarations */

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+000-5FF;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-Italic.woff');
    font-weight: 400;
    font-style: italic;
    unicode-range: U+000-5FF;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-Medium.woff');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+000-5FF;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-MediumItalic.woff');
    font-weight: 500;
    font-style: italic;
    unicode-range: U+000-5FF;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-SemiBold.woff');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+000-5FF;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-SemiBoldItalic.woff');
    font-weight: 600;
    font-style: italic;
    unicode-range: U+000-5FF;
    font-display: swap;
}

* {
    /* Prefer system fonts as fallback if 'WorkSans' is not available */
    font-family: 'WorkSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Variable declarations */
    --font-color: rgb(29, 29, 31);
    --hover-font-color: rgb(0, 0, 0);
    --primary-color: rgb(255, 255, 255);
    --accent-color: rgb(29, 101, 209);
    --hover-color: rgb(245, 245, 247);
    --dark-hover-color: rgb(240, 240, 242);
    --transparent-black: rgba(29, 29, 31, 0.5);
    --danger-color: #D11A2A;
    --safe-color: #1c8d12;
    --big-border-radius: 0.5rem;
    --medium-border-radius: 0.25rem;
    --tiny-border-radius: 0.125rem;
    --transition-duration: 200ms;
    --transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

/* Mini CSS reset */

*,
*::after,
*::before {
    box-sizing: border-box;
    /* Disables the colored highlight that is supposed to appear over a link while it's being 
    tapped but also appears over button elements on mobile devices */
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

/* General declarations */

body,
button,
textarea,
input {
    color: var(--font-color);
}

h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

svg {
    width: 26px;
    /*Prevents sending click events to the event listeners attached to button element ancestors.*/
    pointer-events: none;
    touch-action: none;
}

button {
    /* Disable default button styling */
    appearance: none;
    text-align: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

/* Class added whenever the button is a .settings-button and a respective .settings-list is visible.
Keeps the button in a simulated 'focus' state as long as the .settings-list it generated is visible, to create
the appearance of a 'hover' effect on mobile devices */
button.focused {
    background-color: var(--hover-color);
    color: var(--hover-font-color);
}

/* Only apply hover effects if the device has hover capabilities */
@media (hover: hover) {

    button:hover {
        background-color: var(--hover-color);
        color: var(--hover-font-color);
    }

}

/* Class for buttons that contain a name either directly or within a child span element (see bellow) */
.named-button {
    border-radius: var(--medium-border-radius);
}

/* Named buttons that contain more information than their name, that is split in multiple span
elements. These types of buttons are the category navigational buttons (devCategories and userCategories as in JS)  */
.named-button .button-name {
    padding: 4px 6px;
    width: 100%;
}

.named-button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Class for buttons that contain a SVG only */
.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--tiny-border-radius);
}

/* The containers that hold the .settings-button (button) and the .settings-list (ul) separated
from each other to prevent accessibility errors when trying to nest a ul element within a button element */
.settings-container,
.customize-settings-container {
    position: relative;
}

/* Icon only button holding a SVG made of three vertical dots.
Used for all buttons that represent the action of opening a settings list, apart from the filter and sort setting buttons
that have their own icons */
.settings-button {
    padding: 2px;
}

.settings-button svg {
    width: 22px;
}

/* Ul elements containing the available settings for a a specific feature.
They simulate a context menu and are positioned relative to their container while
floating over the rest of the webpage */
.settings-list,
.dropdown-list-container {
    z-index: 2;
    position: absolute;
    top: 28px;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
    font-size: 0.9rem;
    background-color: var(--primary-color);
    border-radius: var(--medium-border-radius);
}

.settings-list,
.dropdown-list-container,
.categories-dropdown {
    box-shadow: 0 0 10px 0 rgba(29, 29, 31, 0.2);
    outline: 2px solid rgba(29, 29, 31, 0.04);
}

/* Class added by JS whenever the .settings-list is being rendered outside of the viewport*/
.settings-list.top-positioned {
    top: -68px;
}

/* The setting items within a settings list. Dynamically created by JS based on their call location */
.settings-list .named-button,
.dropdown-list .named-button {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    border-radius: 0;
}

/* The main todo item that is being rendered inside the todos list,
and the anchor todo item that is being rendered inside the search results list
whenever the user searches for a todo. The anchor todo item is an actual anchor element (<a>),
and is a more simplistic version of the todo item, containing only the title and whether
it is completed or not */
.todo-item,
.anchor-todo-item {
    border-radius: var(--medium-border-radius);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.todo-item .todo-title,
.anchor-todo-item .todo-title {
    grid-column: 2 / 3;
    /* Prevents text overflowing by dynamically shortening the text and adding an ellipsis.
    This is necessary since the maxlength of the title input is 500 characters and the todo item
    changes its size according to the viewport */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 8px;
}

/* Adds a line-through the todo title whenever the 'completed' checkbox on the todo item is checked */
.anchor-todo-item.completed .todo-title,
.todo-item.completed .todo-title {
    text-decoration: line-through;
}

/* Keeps the color of the 'Delete' setting within any settings list to var(--danger-color) */
.settings-list .named-button.delete,
.settings-list .named-button.delete:hover {
    color: var(--danger-color);
}

/* Hides the input element to create a custom checkbox for changing the status of the todo item
and for selecting whether deleting a category should also delete its containing todos */
.todo-completed-status input,
.delete-todos-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;
}

/* The three types of content that are being rendered into the #modal container.
The form element is used for the Add and Edit Todo and Add Category modals,
the #search-container is a div and is used for the Search modal, and the .delete-modal
is used for the Delete Todo and Delete Category modals */
form,
#search-container,
.delete-modal {
    position: absolute;
    top: 15vh;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 50px 0px rgba(29, 29, 31, 0.3);
    border-radius: var(--big-border-radius);
}

form,
.delete-modal {
    display: grid;
    max-width: 350px;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.input-container textarea,
.input-container input {
    width: 100%;
    border: 0;
}

.input-container input {
    padding: 6px;
}

input {
    appearance: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--transparent-black);
    opacity: 1;
}

.priority-container label,
.input-container.due-date input,
.input-container.category {
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

/* Adds the 'focus' styling back to the label and span elements as a result of
hiding their respective input elements from view when creating custom inputs */
.priority-container input:focus-visible+label,
.delete-todos-checkbox input:focus-visible+span {
    outline: 4px auto Highlight;
    outline: 4px auto -webkit-focus-ring-color;
    border-radius: 0;
}

/* Changes the default 'focus' styling */
.clear-date:focus-visible,
.clear-category:focus-visible,
.categories-dropdown-button.focused,
.categories-dropdown-button.focused:hover,
.categories-dropdown-button:focus,
.categories-dropdown-button:focus:hover,
#todo-due-date:focus,
#todo-due-date.focused {
    background-color: var(--dark-hover-color);
    outline: none;
}

/* Custom scrollbars for webkit browsers */
nav::-webkit-scrollbar,
.text-areas-container::-webkit-scrollbar,
.categories-dropdown-list::-webkit-scrollbar,
#search-results-list::-webkit-scrollbar {
    width: 7px;
    background: var(--dark-hover-color);
}

nav::-webkit-scrollbar-thumb,
.text-areas-container::-webkit-scrollbar-thumb,
.categories-dropdown-list::-webkit-scrollbar-thumb,
#search-results-list::-webkit-scrollbar-thumb {
    background: rgba(29, 29, 31, 0.2);
}

nav::-webkit-scrollbar-thumb:hover,
.text-areas-container::-webkit-scrollbar-thumb:hover,
.categories-dropdown-list::-webkit-scrollbar-thumb:hover,
#search-results-list::-webkit-scrollbar-thumb:hover {
    background: rgba(29, 29, 31, 0.3);
}

/* Hide fieldset legend for sighted users but allow the element to still be recognized by screen readers */
form>fieldset>legend,
#search-container label,
fieldset .input-container label,
.content-header label,
.priorities-legend,
#user-nav-list button .input-container label {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

/* -------------------------------- */

html {
    scroll-behavior: smooth;
}

/* Class added whenever a modal or the header in mobile mode is open to temporarily disable scrolling */
html.overlay-over {
    overflow: hidden;
    touch-action: none;
}

body {
    display: grid;
    grid-template-columns: 275px auto;
    background-image: linear-gradient(to left, #ffffff, #fdfdfd, #fbfbfb, #f9f9fa, #f7f7f8);
    transition: grid-template-columns 600ms;
    transition-timing-function: var(--transition-timing-function);
}

/* Main header */

/* Compensate for the loss of width for the first grid-template-column due to the fact
that the header has been hidden and thus has shrink its size */
body.header-hidden {
    grid-template-columns: 59px auto;
}

/* Class added in the mobile version of the app. Invisible by default, is made visible
when the header is being open to add a grey background above the body. */
body .header-overlay {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--font-color);
    opacity: 0;
    touch-action: none;
    transition: 400ms;
}

body .header-overlay.visible {
    opacity: 0.2;
}

body>header {
    z-index: 3;
    grid-column: 1 / 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 275px;
    height: 95%;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    background-color: var(--primary-color);
    margin: auto;
    gap: 0.5rem;
    box-shadow: 0 0 20px 0px rgba(29, 29, 31, 0.1);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: box-shadow, height, transform;
    transition-timing-function: var(--transition-timing-function);
    transition-duration: 600ms;
}

/* Partially hide the header */
body>header.hidden {
    transform: translateX(-217px);
}

/* The top side of the main header, contains the app title and the menu toggler */
#header-top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
}

#header-top-side .icon-button {
    padding: 4px;
}

/* Mirrors the SVG to always indicate the direction towards which the header
will grow or shrink  */
#header-top-side .icon-button.selected {
    transform: scaleX(-1);
}

@media(hover:hover) {

    #header-top-side .icon-button:hover {
        color: var(--primary-color);
        background-color: var(--accent-color);
    }

}

#header-top-side h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 0.75rem;
}

nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    transition: opacity 200ms;
    transition-timing-function: var(--transition-timing-function);
}

body>header.hidden nav {
    opacity: 0;
}

/* Container that holds default categories and the 'Add todo' and 'Search' buttons */
#dev-nav {
    padding-bottom: 2rem;
}

/* Container that holds the following:
 - a title,
 - the current number of user categories,
 - a button to add a new category
 - a button to toggle the visibility of user categories  */
#user-nav {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#user-nav-header {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

#user-nav-title {
    grid-column: 1 / 2;
    margin-left: 1rem;
}

#categories-counter {
    grid-column: 2 / 3;
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

#user-nav .add-button {
    grid-column: 3 / 4;
}

#user-nav .expand-button {
    grid-column: 4 / 5;
    transform: rotate(180deg);
}

#user-nav .expand-button.expanded {
    transform: rotateX(0);
}

/* The list items that contain the navigational buttons for changing the currently displayed category content.
#dev-nav-list contains developer generated categories ('All todos', 'Today', and 'Next 7 days').
#user-nav-list contains user generated categories, which are structured differently and are dynamic */
#dev-nav-list,
#user-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#dev-nav-list>li,
#user-nav-list>li {
    cursor: pointer;
    border-top-right-radius: var(--medium-border-radius);
    border-bottom-right-radius: var(--medium-border-radius);
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

#dev-nav-list>li:hover,
#user-nav-list>li:hover {
    background-color: var(--hover-color);
}

/* Class added to make the current category button stand out from the rest of the buttons */
#dev-nav-list>li.selected,
#user-nav-list>li.selected {
    background-color: var(--accent-color);
    color: var(--primary-color)
}

#dev-nav-list>li.selected:hover,
#user-nav-list>li.selected:hover {
    background-color: var(--accent-color);
}

#dev-nav-list>li>button,
#user-nav-list>li>button {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    color: inherit;
    gap: 0.75rem;
    border: 0;
    cursor: pointer;
    /* Disable the transition effect declared on all buttons to allow the transition effects
    added on the li item to take over */
    transition: none;
    transition-duration: none;
    transition-timing-function: none;
    background-color: inherit;
}

#dev-nav-list>li>button {
    padding: 0.5rem 0.75rem 0.5rem 1rem;
}

#user-nav-list>li>button {
    padding: 0.5rem 0 0.5rem 1rem;
}

#dev-nav-list>li>button:hover,
#user-nav-list>li>button:hover {
    background-color: inherit;
    color: inherit;
}

/* Targets all .named-buttons from #dev-nav-list and #user-nav-list */
nav .named-button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .named-button .button-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Input that is being rendered in place of .button-name and allows the user to change the name of the
user category */
#user-nav-list>li>button .input-container input {
    width: 100%;
    padding: 4px 6px;
    border: 0;
    border-radius: var(--tiny-border-radius);
    outline: 1px solid var(--transparent-black)
}

/* Animation added specifically for #user-nav-list, which can be hidden by the user */
#user-nav-list {
    animation-name: toggle-on;
    animation-duration: 300ms;
}

#user-nav-list.hidden {
    animation-name: toggle-off;
    animation-duration: 300ms;
}

/* The #user-nav-list list item is designed differently since it contains a dynamic category that can
be deleted and renamed, thus an additional buttons needs to be added to allow such features (.settings-button) */
#user-nav-list>li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#user-nav-list>li .settings-button {
    margin-right: 0.5rem;
    margin-left: 0.25rem;
}

#user-nav-list>li.selected .settings-button {
    color: var(--primary-color);
}

#user-nav-list>li .settings-button.focused {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

#user-nav-list>li.selected .settings-button.focused {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

@media (hover:hover) {

    #user-nav-list>li .settings-button:hover {
        background-color: var(--accent-color);
        color: var(--primary-color);
    }

    #user-nav-list>li.selected .settings-button:hover {
        background-color: var(--primary-color);
        color: var(--accent-color);
    }

}